.footer {
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    justify-content: space-around;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

.redes img{
    padding: 0px 15px;
    
}
.logoTexto{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
